* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: white;
    color: #593E26;
}

p {
    font-size: 13px;
    line-height: 17px;
}

/* boutons */
.button {
    background-color: #CC4E00;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* yellow background */
.bg-yellow {
    background-color: #F3C827;
}

.sectionPadding {
    padding: 64px;
}

.d-flex {
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
}

.mt-24px {
    display: inline-block;
    margin-top: 24px;
}

.mb-24px {
    margin-bottom: 24px;
}

.pre-line {
    white-space: pre-line;
}

.mb-24px {
    margin-bottom: 24px;
}

h2 {
    margin-bottom: 16px;
}

h3 {
    margin-bottom: 7px;
}

.bee {
    height: 50vh;
    width: 50vh;
}

/* section header; logo, nav */
header {
    display: flex;
    justify-content: space-between;


    nav {
        display: flex;
        align-items: center;

        a {
            color: #593E26;
            ;
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "WindSong", cursive;
        font-weight: bold;
        font-size: 25px;
        padding-left: 12px;

        img {
            width: 100px;
        }

    }
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-right: 12px;
}

/* class container */
.container {
    margin: auto;
    max-width: 800px;
}

/* hero section */
#hero {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h1 {
            font-family: "WindSong", cursive;
            font-size: 55px;
        }
    }
}

/* section engagement */
.engagement {
    background-color: white;
}

/* section bienfaits du miel */
.flexOne {
    flex: 1;
}

.bg-yellow .d-flex h3 {
    margin-bottom: 12px;
    font-size: 18px;
}

/* sections produits & card */

/* footer section */
.lastButton {
    background-color: rgb(227, 227, 227);
    color: black;
    padding: 7px 7px;
}
#textArea {
    height: 25px;
}

/* responsive mobile*/
@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .sectionPadding {
        padding: 12px;
    }

    .container {
        width: 300px;
    }

    .d-flex {
        display: flex;
        flex-direction: column;
    }

    #hero {
        display: flex;
        flex-direction: column;
    }

}